[2014-11-19 20:36] Carreau opened #4 "Javascript v3->v4 converter ?"
Do we need one, or do we assume there is only a minority of user with v3 notebook on dive ?

Or do we expose a way to drive-> browser -> server (upgrade) -> browser ?

[2014-12-05 14:37] Carreau opened #6 "hardcoded `client_id`"
Just to remind me to investigate the storing of client_id and other things in secure place, and/or have a way for people to provide their own. Because I guess as all the info are in this repo they could be reused ?

[2014-12-06 15:48] Carreau opened #10 "Get file permission as the same time as content."
And map it to the readonly flag if necessary.

[2014-12-07 18:59] Carreau opened #14 "implement contents rename."
Things still called `rename_notebook`. Should not be hard.

[2014-12-07 19:02] Carreau opened #15 "Move ClientSideContentManager to this repo ?"
This is just a proposal,

But if we want we can move the ClientSideContentManager to this repo.

I'll at least make a shim/alias in case we want easier update.

[2014-12-07 20:28] #10 closed, assigned to nobody

[2014-12-07 20:29] KesterTong opened #16 "Add logic to convert from v4 on-disk format to in-memory format"
I believe the only difference is that multi-line cells can have their text/code as an array of strings instead of a multi-line string.

[2014-12-07 20:30] KesterTong opened #17 "Working checkpointing"
Currently checkpointing can create checkpoints, but checkpoints don't display properly and restore is buggy.

[2014-12-07 20:32] KesterTong opened #18 "New Cloud Console project and client ID"
In order to use drive.file permission properly, and to avoid displaying "coLaboratory" when asking for permissions, an new cloud console project is needed, and a new client ID from this project.

[2014-12-07 20:36] KesterTong opened #19 "Ability to open files that haven't been created by the App"
Because drive.file permission is being used, a file can only be opened if it has been created by the app, or opened with the App in either the Google Drive website, or using the FilePicker API.

Currently the FilePicker API won't work very well because it only allows one origin (e.g. 127.0.0.1:8888).  Similarly opening a file from the Google Drive website will always redirect to 127.0.0.1:8888.  S

[2014-12-07 20:42] KesterTong opened #20 "Detect and handle specific API errors related to authorization/origin checks"
One confusing thing for users with coLaboratory was that you have to run using specific ports (currently 8888-8908 I think) and it must be 127.0.0.1 not another address.

This cannot be avoided at present, but at least we can make it clear what is happening.  The best approach is probably to detect these errors and throw a new error object in gapi_utils.wrap_result.  Then check that this error pro

[2014-12-07 20:58] KesterTong opened #21 "Add instructions on using own client id"
Currently, the hardcoded client id is configured to only accept origins 127.0.0.1:8888, 127.0.0.1:8889, ..., 127.0.0.1:8899.  It is not possible (or advisable) to allow all origins, or even all ports.  For most users this just means that they need to be aware of the limitation that they must user ports in this range.

If a user wants to run their own server from a different domain, they will have

[2014-12-07 20:58] #6 closed, assigned to nobody

[2014-12-08 17:23] #15 closed, assigned to nobody

[2014-12-08 17:26] KesterTong opened #23 "Order files/directories by name in tree view"
Currently the tree view gives random order (because Contents.list_contents returns random order).  Even files and directories are mixed.

Drive has a complication that it is slow, and returns results in "paginated" form.  I think the best approach is to download the entire contents (using max number of results, 1000, per page) then sort these results, and return.

[2014-12-09 21:56] KesterTong opened #26 "Deal with "clobbering" of Drive files"
When two people have the same notebook open, or even when one person has the same notebook open in two tabs, the notebook will be written to by both notebook simultaneously.  The long term solution is to use the realtime API.  But in the meantime we need a way to warn the user that autosave is overwriting someone else's work.

I think this can be done without any changes to the interface.  We will

[2014-12-10 17:30] rgbkrk opened #27 "Support Python 3"
There are a few non Python 3 compatible parts of this extension:

[code]

We should make sure this works in Python 3 by default. /cc @takluyver

[2014-12-10 18:00] #27 closed, assigned to nobody

[2014-12-11 09:27] #23 closed, assigned to KesterTong

[2014-12-11 09:29] Carreau opened #31 "test our notebooks logics with javascript jsonschema."
the schema should be availlable in IPython repo.

[2014-12-11 18:34] KesterTong opened #33 "Rename doesn't permanently change notebook title"
After renaming a notebook, even though the filename is correctly modified, the title of the notebook will revert if the notebook is reloaded.

E.g. create new notebook
filename: "Untitled4.ipynb"
title: "Untitiled4"
rename:
filename: "My Notebook.ipynb"
title: "My Notebook"
after reloading the page
filename: "My Notebook.ipynb"
title: "Untitled4"

I suspect that there may be some server side "save

[2014-12-11 19:57] #14 closed, assigned to KesterTong

[2014-12-11 19:57] KesterTong opened #34 "Implement duplicate/copy function"
Add Contents.copy function so that notebooks can be duplicated in tree view.

[2014-12-12 14:59] Carreau opened #37 "cleanup"
Cleanup file sorting once https://github.com/ipython/ipython/pull/7172/files is in IPython.

[2014-12-12 15:00] Carreau opened #38 "Use API for Json config file management."
Something like https://github.com/ipython/ipython/pull/7195 would help simplifying the code.

[2014-12-13 15:47] Carreau opened #41 "Move part of cloberring logic to IPython"
See #40.

[2014-12-13 17:15] #33 closed, assigned to nobody

[2014-12-13 17:16] #26 closed, assigned to KesterTong

[2014-12-13 17:17] #20 closed, assigned to KesterTong

[2014-12-14 18:55] #16 closed, assigned to nobody

[2014-12-15 16:06] Carreau opened #43 "Shared Content Manager"
Investigate share content manager.

[2014-12-19 17:56] #37 closed, assigned to nobody

[2014-12-19 19:24] #18 closed, assigned to Carreau

[2014-12-28 05:32] #17 closed, assigned to Carreau

[2015-01-12 20:42] KesterTong opened #50 "Working "New File" and "New Directory" commands"
currently these don't seem to work.

[2015-01-14 16:29] KesterTong opened #52 "Update README to reflect new cloud project"
On installing, it now says "Jupyter Drive wants access..." not "coLaboratory wants access...".  README should be updated to reflect this.

[2015-01-14 16:30] KesterTong commented on #52
assigning to @Carreau because I don't know how to make such nice screen shots.

[2015-01-14 16:36] KesterTong commented on #19
@Carreau can you set of the Drive SDK for our Cloud project?  I think @minrk or @rgbkrk knows how to do this.  From the Cloud Console, go to "APIs and Auth > APIs" in the left pane, then click the gear icon next to "Drive SDK" then "original console".  Fill in the necessary fields, most important being "Open URL (required)" which should be set to 127.0.0.1:8888.  Note that until a Google API issue

[2015-01-14 17:35] Carreau opened #54 "gapi revoke some scope ?"
Is there a way to "revoke" some scope without having to drop all token and having to re-authorize the all thing ?

[2015-01-14 17:48] KesterTong commented on #54
No.  In fact, last time I checked whenever you ask for any scope for a client ID, it gives all scopes that the client ID is authorized for.  E.g. if you have already given a client ID drive.file and drive.metadata.readonly scope, there is no way to get a token with just one of these scopes.

[2015-01-14 17:58] Carreau commented on #54
That's annoying.

Is there at least a way when you re-authorise an app after detaching it from drive that it still have access to old files created by it ?

[2015-01-14 18:01] Carreau commented on #19
I don't have access apparently.

[2015-01-14 18:09] KesterTong commented on #19
Who set up the new client ID?  Was it @rgbkrk?

[2015-01-14 18:15] KesterTong commented on #54
Can you confirm you lose access to old files when you detach from Drive (and not just the files you lost when we change the client ID)?

If so, that is annoying but probably unfixable.  Hopefully real user's detach from drive very rarely.

[2015-01-15 02:23] rgbkrk commented on #19
You have to do it from the project jupyter gmail account.

[2015-01-16 17:36] KesterTong commented on #52
Done in #53

[2015-01-16 17:36] #52 closed

[2015-01-17 17:37] Carreau commented on #50
Both of these should work with #56 and #57 merged.

[2015-01-17 17:40] Carreau commented on #19
I'm leaning on requiring minimal permissions, and asking for more permission if necessary.
Like inserting in a menu "full drive access" warn that full access cannot be revoked except by disconnecting the app and that having access to file again is possible only with full access.

[2015-01-17 21:22] KesterTong commented on #19
Just to be clear, what I'm proposing isn't a new kind of permission.  It's just using the drive.file scope in a different way.  Drive.file scope allows you to open any file created by the app, and also any file "opened" by the app, for a somewhat strange definition of "open".  To open a file, means to open it in the Google Drive website with your app, or in a "FilePicker", which is something you e

[2015-01-22 15:12] KesterTong opened #58 "Combine save and create checkpoint into a single function in Contents"
Right now, it's inconvenient to have save and create checkpoint be separate functions.  This is because both functions are asynchronous, so our current implementation creates a race condition, and sometimes the previous save gets checkpointed.

This problem would be solved if we got rid of ```create_checkpoint``` and instead had a ```checkpoint``` option in ```save```.

[2015-01-24 02:42] KesterTong commented on #19
Will be fixed by #59.  Seems to work already without any changes to the Drive SDK settings.

[2015-01-25 15:52] #54 closed

[2015-01-27 19:19] KesterTong commented on #58
Actually I think that there is no race in the code, the problem was the Drive bug.  Still, this might be worth considering anyway.

[2015-01-27 19:21] KesterTong commented on #19
@Carreau actually nothing needs to be done in the Drive SDK settings now.  The FilePicker is now completely independent of the Drive SDK settings.

[2015-01-27 20:30] KesterTong opened #61 "Excessive calls to Drive from tree view"
We probably are polling Drive too frequently in tree view.  Is there a way to reduce the polling frequency (e.g. to 5 mins)?

[2015-01-27 20:32] Carreau commented on #61
No, not configurable, should be once every minutes + on page focus. Did you focused in/out a lot?

[2015-01-27 20:33] Carreau commented on #61
And minute time seem to stop when page is out of focus...

[2015-01-27 20:35] KesterTong commented on #61
One minute is very high because the individual calls are very large (e.g. I have about 300 files in my Drive).  On the other hand, if it's only when the tree has focus, I guess it's not such a big deal.  Thanks for clarifying.

[2015-01-27 20:37] Carreau commented on #61
Well if you navigate through tab quickly it might make a lot of call. I'll try if I can prevent a immediate api-call if page get focuses too often.

Something like refresh view on focus only if last focus was more than a minute ago...

[2015-01-27 20:38] KesterTong commented on #61
That would be perfect.

[2015-01-29 13:08] Carreau opened #62 "FilePicker ask for edit permission."
Filepicker allow to view file, would be nice to have possibility to also ask for saving it.

[2015-01-29 13:57] Carreau opened #63 "Tree view don't show "running" notebooks anymore."

[2015-01-29 14:14] Carreau commented on #19
Closed by #59

[2015-01-29 14:14] #19 closed

[2015-01-29 15:20] KesterTong commented on #63
It works for me right now.  I just pulled from IPython head (dab6a6d0d0380265f50c8718f31c909fa68d8edf)

[2015-01-29 15:22] KesterTong commented on #62
You should be able to edit any file that you open with filepicker (unless you don't have edit permission, in which case the user can't do anything except as the file owner for edit permission).  But maybe the title of the window is unclear?  I'll look at the options that can be changed

[2015-01-29 15:30] Carreau commented on #62
Ah you might be right, I might har tried with shared notebooks. Then UI might need a "shared by" indicator.

Envoyé de mon iPhone

[2015-01-29 15:36] KesterTong commented on #62
Since IPython already detects when a file is read only, it might be nice if
we could attach extra information when a file is readonly (like "owner"),
and add some kind of hooks so we can provide more info when the user clicks
the "readonly" symbol.

On Thu, Jan 29, 2015 at 10:30 AM, Matthias Bussonnier <
notifications@github.com> wrote:

[2015-01-29 20:46] #50 closed

[2015-01-29 20:47] KesterTong commented on #50
Closed by #56

[2015-01-30 11:17] Carreau commented on #63
Nop really does not work for me. it does appear as running in the running tab, but not in the main one.

[2015-01-30 11:27] Carreau commented on #63
It appears like 'list_contents' should return `running=false|true` in the model, while it does not.

[2015-01-30 19:11] KesterTong commented on #63
That's strange that list_contents is supposed to do this.  Doesn't this create unnecessary dependencies between ContentManager and whatever managers the kernels?  Why is file management tied to kernel management like this?

[2015-01-30 19:14] Carreau commented on #63
i might have miss understand how the code works. If kinda-works is the `model.path` does not start with `/` but there are some other issues with renaming that does not affect  the session object. I'm starting to mix things in my head.

[2015-01-30 21:39] KesterTong commented on #63
ok now I see it.  Perhaps our code does not properly handle path names?  I was making a lot of guesses when I wrote it.  This may be the offending line: https://github.com/jupyter/jupyter-drive/blob/master/jupyterdrive/gdrive/drive-contents.js#L460

[2015-01-30 21:40] KesterTong commented on #63
is there a path join util function we can use instead of ```var fullpath = path + '/' + resource['title'];```?

[2015-02-01 10:11] Carreau commented on #63
Yes probably in utils, I'll try to have a look today.
Sorry for the silence, the last minutes preparation stuff is crazyier than I thought.

[2015-02-01 11:02] Carreau commented on #63
closed by #65

[2015-02-01 11:02] #63 closed

[2015-02-03 14:01] Carreau commented on #61
IPython related PR as been merged we can now also tweak the timeing if necessary.

[2015-02-03 14:01] #61 closed

[2015-02-03 14:03] Carreau commented on #34
As this is the last important remaining issues and it seem we have a problem with drive.
Also I'm leaving in less than 24 hours. I'll cut a 1.0-beta for what we have now and announce it on Mailing list for feedback.

[2015-02-08 19:17] KesterTong commented on #43
accidentally hit close

[2015-02-08 20:01] rgbkrk commented on #43
What does this one mean? I'm kind of wondering about if there was a way to bring in notebooks from other people (you're at a tutorial, want to run through someone else's notebooks, etc.).

[2015-02-08 20:02] rgbkrk commented on #21
What's the right way to lock down drive integration so that it only presents notebooks created with just the one client id?

[2015-02-08 20:29] KesterTong commented on #21
I'm not sure how the client is configured, but once you set the client id,
it will restrict you to access files created with that client id or another
client id from the same cloud console project.  We still display other
files, but we have the ability to filter out the inaccessible files.
On Feb 8, 2015 3:02 PM, "Kyle Kelley" <notifications@github.com> wrote:

[2015-02-08 20:39] KesterTong commented on #21
Another option we could add is a more locked down mode where we don't use
the metadata.readonly scope, which is how we are able to view the directory
tree, including files you don't have access to.  Note that in this mode,
you cannot even browse directories that weren't created by that cloud
console project.   Maybe this is a good thing
On Feb 8, 2015 3:29 PM, "Kester Tong" <kestert@google.com> wr

[2015-02-09 02:14] rgbkrk commented on #21
Yeah, there was great demand after my talk at PyTennessee to add the ability to save and load notebooks straight to Google Drive when on tmpnb.org (or wherever).

[2015-02-09 04:46] KesterTong commented on #21
@Carreau, what's the current status on configurability?  Did that PR get merged?

@rgbkrk, there are two scopes we use, (see https://developers.google.com/drive/web/scopes), drive.file and drive.readonly.metadata.  The latter grants readonly access to all metadata, which includes file names, and all people that all files are shared with.  I think it's likely you don't want this scope with tmpnb.

[2015-02-09 19:24] rgbkrk commented on #21
Ok, cool. When I set up another client I'll set those scopes.

What are options for people to share notebooks/seed an installation?

Workflow would be that people show up to a workshop, authenticate with Google, and *somehow* get access to the course materials. /cc @dutc @willingc

[2015-02-09 19:51] Carreau commented on #21
Yes, i'll have a look today, was in SF this week-end.

I think dropping metadata scope for tmpnb make sens,

[2015-02-09 20:02] KesterTong commented on #21
Let's assume that we are only using drive.file scope and not drive.readonly.metadata scope.

The advantage is this is very restrictive.  There is no way the app can access any file without explicit consent from the user.  However, this can make it hard to add files to the files that the app can see.  In particular, permission is always on a per user, per app (=cloud console project) basis.  So it'

[2015-02-09 20:09] KesterTong commented on #43
This isn't related.  "Shared" refers to having a content manager that shows content from both drive and local (hard disk) content, so that the user doesn't have to keep switching.  Feel free to open another issue if #21 isn't broad enough.

[2015-02-09 20:14] KesterTong commented on #43
@Carreau (responding to comment in #72)

We could either have local content starting at ```/``` while Drive content starts at ```gdrive/```, or have local content start from ```local/```.

The advantage of the first option is that it's consistent with just using the usual content manager.  When the user uses a mixed content manger set up this way, thins will look exactly the same, but there will b

[2015-02-09 20:16] Carreau commented on #43
I think the second option allow also a more generic mechanism to mix many contents manage wihtout having to deal with conflict.

I'm open to either also.

[2015-02-09 20:23] KesterTong commented on #43
Yeah avoiding conflicts is another advantage of the  second option.  Let's assume that for now.  The change on JS side for this should be very simple.  Can you start work on making the same changes on the Python side as I made on the JS side in #72?  Should be pretty much the same logic but in Python.  Then we can think about how to make it configurable.

[2015-02-09 22:02] Carreau commented on #43
Yep will do.

I'm working on making the installer having a `--mixed-content` option so that we can merge the mixed content into master.

[2015-02-10 23:38] Carreau opened #74 "gapi_ready question."
I want `gapi_ready` to resolve only once things are loaded, and a specific `config()` (or named otherwise) methods is called so that `.then(authenticate)` can get access to a config object.

Though I cannot find a way how to make it work with `Promise.all`.

Any pointer ? Or should I just change the api a lot ?

[2015-02-11 00:29] KesterTong commented on #74
No, that's a totally reasonable thing to do (especially since calls to localhost should be quick, so it's ok to add them to the gapi_ready) promise.

It should go something like

[code]

[2015-02-11 18:49] KesterTong opened #76 "Can't install with without access to /usr/local/share"
This seems to be a problem with ```install_nbextension``` not our code.  Is it possible that nb extensions aren't as compatible with  ```virt_env``` as they should be?  Or is it just that IPython don't want notebook extensions to be part of the virtual env?

[2015-02-11 18:53] Carreau commented on #76
Ping @takluyver IIRC. Virtualenv is python specific, so we have no knowlege of it. There is a userflag for that if you want to explicitely install elsewhere.

[2015-02-11 18:57] takluyver commented on #76
We've gone back and forth on where to install things by default - for now, the default is systemwide, and you can pass `user=True` if you want to do a per-user installation. We don't want to encode knowledge of a particular Python-specific environment tool into these functions (nbextensions and kernelspecs are not part of the Python environment), but we will look for them in e.g. `share/jupyter/nb

[2015-02-11 19:06] KesterTong commented on #76
Thanks for the clarification @takluyver.  @Carreau, can you add one more option that allow us to specify an alternate install directory, so that user's can manually specify the path ```sharee/jupyter/nbextensions``` relative to ```sys.prefix```

[2015-02-11 19:12] takluyver commented on #76
There's already a `prefix` option. But once you know where you want to install to, the installation process is really just copying files.

[2015-02-11 19:13] takluyver commented on #76
(i.e. there's no reason to go through an IPython API if you know where you're installing to - just use standard shutil functions to copy a file or folder)

[2015-02-11 22:48] KesterTong commented on #76
Thanks @takluyver, since we already call the IPython API, we have just added the ```prefix``` option.

Closed by #77

[2015-02-11 22:48] #76 closed

[2015-02-17 17:56] KesterTong commented on #74
Closing this since things were more complex than I initially thought, but you figured out how to do it anyway.

[2015-02-17 17:56] #74 closed

[2015-02-26 19:28] nwparker opened #81 "TypeError: install_nbextension() got an unexpected keyword argument 'user'"
After creating a user profile with
[code]

And running
[code]

I am met with:
[code]

[2015-02-26 19:32] Carreau commented on #81
Which version of IPython are you running ? Jupyterdrive is compatible only with 3.0.

`python -c 'import IPython; print(IPython.sys_info())'` to get version.

[2015-02-26 20:47] nwparker commented on #81
I was running 2.x
Thanks for poining out the issue!

[2015-02-26 20:47] #81 closed

[2015-02-28 20:25] KesterTong opened #84 "Implement exponential backoff for loading a file after FilePicker is used"
Permission to load a file after the user selects it in a file picker does not propagate immediately.  Therefore exponential backoff is needed to repeatedly query the server until the file is ready to load.

[2015-02-28 21:16] KesterTong commented on #43
Done in #79

[2015-02-28 21:16] #43 closed

[2015-03-03 04:28] virtualirfan opened #85 "CLIENT_ID not getting picked up from <profiledir>/nbconfig/common.json?"
The advanced config section of the README.md says that the file nbconfig/common.json will get picked up ... it's not getting picked up. Could be user error.

For now, I'm manually overriding in the code which isn't ideal.
[code]
[code]
[code]
[code]

[2015-03-03 05:01] KesterTong commented on #85
What version of IPython are you using?  This configuration requires some pretty recent changes, which are now part of IPython 3.0 (right @Carreau?) but might not have been part of earlier releases of 3.0.

[2015-03-03 05:18] virtualirfan commented on #85
iPython 3

[2015-03-05 20:34] Carreau commented on #85
Sorry, this fell under my radar, and went marked as read.
Will take a look try to reproduce.

[2015-03-05 20:43] Carreau commented on #85
Ok, so I doubt jupyterhub will even work with a version of IPtython too old.

As you seem to mess with the code, can you try to change gapi_utils.js around line 176 to add `console.log ` ?
[code]
to see what config is actually received ?

Everything you do seem correct, and if I do the same, I actually get it to work (well actually not work if I put a random CLIENT_ID, but it does get propagated)

[2015-03-06 18:59] aboyett opened #88 "Local notebooks cannot be renamed until `mkdir ~/local` is executed"
I logged into a jupyter-hub + sudospawner installation using github oath. My user was created and I can create a new notebook w/in the "local" namespace but any attempt to rename a notebook results in the error:

when I look at the filesystem, the notebook is actually created at `/home/aboyett/Untitled1.ipynb`, there is no `/home/aboyett/local` by default. once I create that dir the rename succeed

[2015-03-11 18:09] KesterTong commented on #85
I'm also unable to reproduce this bug.  Suspect that the IPython version is too old.

[2015-03-11 18:19] KesterTong commented on #85
Actually this is a bug, will be fixed by #89.  The problem was the config was getting passed successfully to the client, so it was hard to notice that the client code could still fail to use this config properly.

[2015-03-11 18:31] KesterTong commented on #85
Fixed in #89.  Thanks @virtualirfan for finding this bug.

[2015-03-12 02:16] virtualirfan commented on #85
Most welcome.

[2015-03-13 15:00] KesterTong commented on #84
fixed in #83

[2015-03-13 15:00] #84 closed

[2015-03-13 15:11] KesterTong commented on #88
@Carreau it looks like rename is not implemented in ```mixednbmanager.py```.  Can you add this method?  It is a bit different other methods as its signature takes two arguments which are both paths.

[2015-03-13 22:14] griffinmilsap commented on #21
I just got a message that referred me to this issue -- What further configuration do I need to do to get this running?

[2015-03-13 22:20] KesterTong commented on #21
Hi @griffinmilsap, are you running IPython on your local machine, and if so, what port are you using?  If you are running locally, you are probably best off changing to one of the ports that jupyter-drive is configured to work with (8888 to 8900 is the range I think).  Otherwise, if you are setting up network access for other people, the instructions in the README now indicate how to set the clien

[2015-03-13 22:28] griffinmilsap commented on #21
Hey @KesterTong, thanks for the quick reply!  I'm running Jupyterhub on https://cerebro.neuro.jhu.edu which is spawning single-user notebooks for me.  I believe these are spawning on port 443/444 or something, I'm not sure about all the details.  I think I need to be on this port to operate using https.  If I need to set up my own cloud console project, I'm okay doing that, but I don't know what A

[2015-03-13 22:31] Carreau commented on #21
Yes, you will have to create an application/client-id yourself. and bind it to your domain.

I should get better information on how to do that.

There are still bugs for jupyterhub+jupyterdrive, though so be careful, You might have to dive in the configuration a little more than usual.

[2015-03-13 22:39] griffinmilsap commented on #21
Wow!  You guys are really on top of your issue tracker!  Props!  Let me know if/when/where there is information about how to configure this cloud console project, and I'll test it out/let you know how it works out.  I'm not above digging down into the code and resolving errors as they pop up -- I might even be able to submit some PRs as needed.

[2015-03-13 22:40] Carreau commented on #21
You should be able to create it in google console project now.
After you will have to set it in `~/.ipython/profile_<name>/nbconfig/common.json`

[2015-03-13 22:42] Carreau commented on #21
Will edit this comment progressively:

  - go to https://console.developers.google.com/project

[2015-03-13 23:05] griffinmilsap commented on #21
That seems to have done the trick!  I have it working well so far.  Will update if I find any bugs.  Thanks!

[2015-03-16 18:18] Carreau commented on #88
Ok, this one was tough to track down but I think I got it. PR on it's way.

[2015-03-16 21:21] #88 closed

[2015-03-16 21:22] #85 closed

[2015-03-18 22:01] Carreau opened #92 "Delete API"
from #91

[2015-03-19 21:31] #92 closed

[2015-03-24 18:34] Carreau opened #94 "Test with PG content."
Talked a bit with @ssanderson on gitter. I think he is interested in Mixed content manager.
If needed we can split it out of Jupyter-drive.

Any way, we can collaborate !

[2015-04-02 12:44] stared opened #96 "Is it possible to auto-refresh?"
When two people are editing the same file, is it possible to:

* see their edits in real time? (alike in Google Docs)
* see who is logged in, which cells they are working on?

As of now, I've found that it is possible to wait for their edits and refresh browser tab, but it sounds a lot like a brute-force solution (plus, it will be easy to erase someone's else edits).

[2015-04-02 19:10] Carreau commented on #96
This is work in progress, and is the goal of my postdoc, but it will take at least a few month.

You are welcome to help working on that, but it's a huge piece of work. You can see some progress here:

https://github.com/jupyter/jupyter-drive/pull/90

I'll close this issues for now.

Thanks !

[2015-04-02 19:10] #96 closed

[2015-04-02 21:08] stared commented on #96
Good to know! I was not sure if it was supposed to work or not. Maybe some to-do list on the readme?

In any case, thank you for your great work! :)

[2015-04-02 21:42] Carreau commented on #96
Well, Real-Time might be part of IPython itself at some point, so not sure it's worth mentionnig here for now.

Thanks ! Anyone is welcome to contribute !

[2015-04-15 10:01] anddam commented on #76
I stumbled on

    OSError: [Errno 13] Permission denied: '/usr/local/share/jupyter'

error as well, from @takluyver 's comment I'd think that the *--user* option in [init][1] would do the trick and install files in *~/.ipython* but it's not working, here's the output with and without the --user flag
[code]

In both cases I get a permision denied error for '/usr/local/share/jupyter'.

Did I misund

[2015-04-15 13:14] takluyver commented on #76
@KesterTong @Carreau - there's a `--user` option, but it looks like you don't actually use it when calling `install()`.

[2015-04-15 14:52] KesterTong commented on #76
I can't remember if I ever used --user.  I may have used --path all along.  Or maybe I just started installing using sudo.  Sorry for the confusion @anddam, it looks like your final command line is close to what I was using at one point.  @takluyver I will investigate the ```--user``` option, maybe it once did something and stopped working

[2015-04-15 14:55] KesterTong opened #99 "--user option does not get passed to install() in __init__.py"
In __init__.py, when install() is called, it is called with every flag as an argument except --user which does not get passed along as a keyword argument.

[2015-04-15 15:09] takluyver commented on #76
I think all the machinery for it is there, you're just missing a `user=args.user` here: https://github.com/jupyter/jupyter-drive/blob/master/jupyterdrive/__init__.py#L97

[2015-04-15 15:12] KesterTong commented on #76
@takluyver you are right.  I created #99 so we remember to fix this.

[2015-04-18 18:25] #99 closed

[2015-04-24 18:59] jonathan-svds opened #106 "MacBook Pro Installation Error"
I've tried following the install instructions on two different laptops and have run into the same error each time.

First of all the Readme has a git command that doesn't work for me:

    $ git clone git+git://github.com/jupyter/jupyter-drive.git
    Cloning into 'jupyter-drive'...
    fatal: Unable to find remote helper for 'git+git'

But I changed it so that it worked:

    $ git clone git://gi

[2015-04-27 23:38] Carreau commented on #106
Hi thanks for the report, and sorry for the delay to respond, the git+git is probably a typo, I'll fix it.

I'm trying to make this working with both IPython 3.x and 4.x, so their might be some inconsistencies.

[2015-04-28 13:05] ghouston commented on #106
I ran mixed mode on my MacBook Pro with "python -m jupyterdrive --mixed" and it gave the same error and stack trace.  I'm running python 2.7.9 installed by homebrew.

[2015-04-28 17:01] Carreau commented on #106
Can you both pull and retry ? I don't get why it was passing on my machine,
but found where it was wrong.

On Tue, Apr 28, 2015 at 6:05 AM, Greg Houston <notifications@github.com>
wrote:

[2015-04-28 19:43] ghouston commented on #106
i've pulled the latest and retried.  The same error appeared.

In the debugger I can see that name is None at IPython/core/profiledir.py(225).   Looking up the stack I see that name comes from self.profile in jupyterdrive/__init__.py(70) but self.profile is None.

[code]

further up the stack I see the profile is set by the prefix argument to main, and it defaults to None...

[code]
So I was able

[2015-04-28 20:18] Carreau commented on #106
I'm stupid, I pushed on my fork instead of this. Can you retry ?

On Tue, Apr 28, 2015 at 12:43 PM, Greg Houston <notifications@github.com>
wrote:

[2015-05-05 22:39] kastman opened #107 "No Auth Request for Google Drive - regular ipythonic notebook server?"
Hi all,
I'm sure I'm missing something basic, but I was able to successfully clone, install a config and run ipython with the jupyterdrive profile, but when I open it I get a standard ipythonic server, and no auth request for Google Drive. Is there an additional config step not in the readme that I need to do? Sorry this is so basic, but I've been looking for an hour and can't find it. Using py3 a

[2015-05-06 16:57] Carreau commented on #107
Hum, I'll clean my system and try the install instruction, things have changed a bit the last few weeks.

Do you get an error in the notebook terminal, or in the browser JS console ?

[2015-05-06 17:35] kastman commented on #107
Nope, no errors at all, either in terminal or through the browser. It seems to work exactly like a standard filesystem-based notebook server.

I did give permissions to coLaboratory (the older version?) - is it possible that there's a check+setup that's being skipped? I don't think this is the case because I was sitting side-by-side with another person who also had this issue and hadn't given perm

[2015-05-06 18:28] Carreau commented on #107
No coLaboratory should not affect that at all. can you `$ cat ~/.ipython/profile_default/ipython_notebook_config.json` ? and maybe hop on gitter to debug this live ?

[2015-05-12 20:46] Carreau opened #110 "cannot install if ~/.jupyter does not exist."
Also find a way to get the right config dir.

[2015-05-14 05:20] kastman commented on #107
I think this may be a doc issue more than anything else - when I went back to try it again and forgot to use a specific profile (i.e. `ipython notebook` instead of `ipython notebook --profile jupyter-drive`) I got the authentication request and I believe it's working now. From the readme I thought you had to specifically request the drive add-on with a profile, but I guess that's not the case?

Th

[2015-05-14 05:20] #107 closed

[2015-05-15 17:04] Carreau opened #113 "Mixed contents local notebook start in ~"

[2015-06-22 12:55] podshumok opened #119 "Notebook failed to load"
I've got `master` of everything and here's what I get when I'm trying to open or create a notebook:

On screen:

    Notebook failed to load
        The error was:
        TypeError: Cannot read property 'language_info' of undefined
        See the error console for details.

In server logs:

	[W 12:45:44.344 NotebookApp] 404 GET /nbextensions/gdrive/drive-contents.js.map (172.17.42.1) 0.51ms refe

[2015-07-07 11:45] wernight opened #120 "Update main description"
https://github.com/jupyter/jupyter-drive README link to `Contents` is dead.

It would be good to explain more generally how this project is used. For example is it to be used on top of an existing Jupyter, or a plugin, or modifying/patching an existing Jupyter...

[2015-07-07 23:28] bmyerz opened #121 "Error loading notebook"
[code]

I tried to open a `ipynb` file in my google drive and got this alert. There are no error logs printed by the ipython notebook server console.

![image](https://cloud.githubusercontent.com/assets/1979690/8559731/1beacc3e-24c5-11e5-98a3-e590e96fa712.png)

![image](https://cloud.githubusercontent.com/assets/1979690/8559688/aa5977dc-24c4-11e5-975a-35e2b0d367cf.png)

[2015-07-07 23:36] bmyerz commented on #121
There is a warning in the logs
`[W 16:34:22.716 NotebookApp] Unrecognized JSON config file version, assuming version 1`

Note also, this notebook has already been converted to 3.x format by opening it in jupyter.

[2015-07-07 23:40] bmyerz commented on #121
notebook is in v4 format

[2015-07-07 23:46] bmyerz commented on #119
+1
![image](https://cloud.githubusercontent.com/assets/1979690/8559888/1a99bcbc-24c7-11e5-9f18-5461fed89009.png)

in ipython
[code]

[code]

[2015-07-12 16:31] kevinsullivan opened #122 "Can't open Google Drive subdirectories -- server error: the folder/file does not exist"
I've successfully installed JD, have authenticated to GD, and can see my top-level GD directory. I can drill down into one subdirectory, and I can see the files and sub-sub-directories. However I'm unable to open any of the sub-sub-directories. Whenever I try I can see JD using the GD APIs, but after 20 or 30 secs I seem to get a timeout and then this server error failure. Any ideas? I apologize f

[2015-07-12 21:37] kevinsullivan opened #123 "Can't back out of "python -m jupyterdrive" to add "--mixed""
Hi folks,

I inadvertently executed "python -m jupyterdrive" rather than "python -m jupyterdrive --mixed", and now I can't figure out what persistent state is causing me to be unable to do "python -m jupyterdrive --mixed."
The problem appears to be revealed by these lines of code

 with jconfig(profile) as config:
        if 'NotebookApp' in config:
            if (config['NotebookApp'].get('torna

[2015-07-12 21:48] KesterTong commented on #123
The other state that needs to be removed is in the ipython profile
directory.  I think this is usually at ~/.ipython/profile_default.
@Carreau what files need to be deleted to reset the profile?

On Sun, Jul 12, 2015, 5:37 PM Kevin Sullivan <notifications@github.com>
wrote:

[2015-07-13 02:51] Carreau commented on #123
`notebook_config.json` should have most of the drive-relevant config with `nbconfig/*`. I'll take a look, I'm flying back to berkeley in acouple of hours.

[2015-07-14 08:19] TiesdeKok commented on #119
+1

On screen:
[code]

In console:
[code]

Everything works fine when using the local drive.

[2015-07-14 17:56] kevinsullivan commented on #123
It does look like the contents of notebook_config.json are what's causing the re-install to bork. Can you advise on what to do with that file? Modify contents? Delete? Thanks! --KS

[2015-07-14 18:08] Carreau commented on #123
You should be able to just delete it, it should work. I'm back in Berkeley I'll try to work on that today, if I can get enough of my backlog done.

[2015-07-14 18:08] kevinsullivan commented on #123
I tried deleting ~/.ipython/profile_default (as advised). But now I get this when I

 ... File "/home/cs1/System/jupyter-drive/jupyterdrive/__init__.py", line 95, in _activate
    with jconfig(profile) as config:
  File "/home/cs1/System/jupyter-drive/jupyterdrive/__init__.py", line 65, in __enter__
    self.pdir = locate_profile(self.profile)
  File "/usr/local/lib/python3.4/dist-packages/IPython

[2015-07-14 22:11] Carreau commented on #123
do `$ ipython profile create` to recreate the default profile, and re-issue `$ python -m jupyterdrive`.

There seem to be an error in typescript compiler/gulp-tsc where the following does not raise:

[code]

Trying to track that down.

[2015-07-14 22:30] Carreau commented on #123
`python3 -m jupyterdrive  --deactivate` should remove the current configuration, and allow you to activate with `--mixed`. There is still some tyescript issue though,

[2015-07-15 00:45] kevinsullivan commented on #122
I've now installed Jupyter in --mixed mode, so that I can access notebooks both on Google drive and on my local machine. I can open, edit, and save notebooks on /local but I'm still unable to open gdrive files. Here's the error I'm getting now.

The error was:
TypeError: this.metadata is undefined
See the error console for details.

[2015-07-15 00:46] kevinsullivan commented on #123
Ok, thank you very much for that. It worked. When 'ipython notebook' opens I now get both directories. However, I'm still unable to open/create/save files on gdrive, per #122.

[2015-07-15 00:55] Carreau commented on #119
Hi all,

I finally get a change to look at that. it's a weird combinaison of multiple factors. I achived to reproduced it. It did not affected me because it was continuously upgraded while I was working on this.

you can try https://github.com/jupyter/jupyter-drive/pull/124, that I'll cleanup later and should allow you to open both corrupted, and non-corrupted notebook on google drive.

[2015-07-15 01:12] Carreau commented on #122
I'll dig into that too tomorrow.

[2015-07-15 18:53] Carreau commented on #122
Ok, that was actually a completely insane behavior of javascript. #124 should fix that too.

Basically, if you have `/folder/subfolder/file` and you ask javascript the following:

[code]

`pth` will be shared across ll loops, leading roughtly to the first call beeing actually effected beeing `root.get('file')` which obviously fails.

[2015-07-16 18:59] janakmayer commented on #21
I am also trying to run a server on my own domain and on a custom port (though I could change to use the standard port if need be). I have created a project on the google developers console, activated Google Drive API, and created an oAuth Client ID for a Web App.

I didn't seem to have an nbconfig directory in ~/.ipython/profile_<name>, so I created one and created common.json based on this examp

[2015-07-17 20:15] Zsailer commented on #121
I'm having the same problem; however, it's only true of notebooks that I uploaded to Google drive from my local file system. If I create a notebook while using jupyterdrive, I don't get this error.

@bymyerz, is that true for you too?

[2015-07-17 21:58] Carreau commented on #121
Thanks @Zsailer I'll try to upload a file to see if this does that too.

[2015-07-17 23:07] bmyerz commented on #121
@Zsailer no, when I do new > Python 2, I get another error

![image](https://cloud.githubusercontent.com/assets/1979690/8758825/e9840e6e-2c9d-11e5-8a86-5632039ae0aa.png)

[code]

[2015-07-17 23:09] Carreau commented on #121
this is different and tracked/fix in progress into https://github.com/jupyter/jupyter-drive/pull/124

[2015-07-19 22:23] Carreau commented on #122
This should be fixed now.

[2015-07-19 22:23] #122 closed

[2015-07-19 22:24] #123 closed

[2015-07-19 22:26] Carreau commented on #121
@KesterTong for some files, (mostly one uploaded or shared with others) Files seem to not get the dowloadUrl anymore (docs seem to say [it should](https://developers.google.com/drive/v2/reference/files/get#examples) ) . The thing that bother me is that  the picker po-up everytime as if the App was not authorized. Could there be a problem there ?

[2015-08-27 21:13] bmyerz commented on #119
With the latest jupyter-drive I appear to get the same error as above when creating a new notebook

[2015-08-27 21:14] bmyerz commented on #121
with the latest in master, I no longer get this error when loading an existing notebook from drive

[2015-09-07 20:14] singletS opened #125 "Image files not rendered"
`python version: 3.4.3 |Anaconda 2.2.0 (64-bit)|`
`IPython.__version__: 4.0.0`

I'm getting the broken image icon in both of these cases:
- `<img src="filename.jpg>"` in a markdown cell
- `IPython.display.Image("filename.jpg")` in a code cell

Image files are in the same folder as the notebook.

Clicking the image filename in the tree browser brings up file picker. Clicked 'select' and restarted k

[2015-09-08 12:40] Carreau commented on #125
Well, the problem is the following,
your (kernel, browser) and (content) are on different machines. Kernel and browser could even be also separated.

1 ) By choosing to store the content on Google drive, you make it inaccesible to the kernel, so `IPython.display.Image("filename.jpg")` will not work (partially due to 2 also).

2) The way google drive store images, and distribute through CDN, make `

[2015-09-08 13:08] epifanio opened #126 "mixed content Installation : configuration conflict with latest jupyter"
Tring to unstall on a mac, with latest jupyter (at the time writing).
The command ```python3 -m jupyterdrive``` ends without error (still have to test it) while :

[code]

gives error :

[code]

[2015-09-08 23:25] singletS commented on #125
Thanks for clarifying. I had (mistakenly) assumed since kernel could access the ipynb file, it could access other files through api magic...imagining the gdrive looked like a pseudo-file system to the kernel.

The motivation for using jupyter-drive was so students could save their work in ipynb format in their shared gdrive folders. I could then run their notebooks, add comments, etc. without down

[2015-09-08 23:45] Carreau commented on #125
Well what you want to do is possible, if you mount google drive locally like a dropbox folder.
Though the goal of this repo is to , at some point of the future, add real-time collaboration which require a different arrangement of things.

There is also a third way of doing things but which is not officially supported by google drive, and would have a bit of the advantages and drawbacks of both wor

[2015-09-10 03:36] singletS commented on #125
+1 for collaborative editing. My students currently use William's patched versions on SMC for this feature and they like it.

If only google drive would support "mounting" on linux machines like dropbox...drat.

Thanks again for your work. It's an exciting time for these tools.

[2015-09-22 22:59] malina-kirn commented on #85
It's possible this bug has resurfaced in IPython4/Jupyter. I've attempted placing editing the config in the following file locations:
/etc/jupyter/nbconfig/common.json
~/.jupyter/nbconfig/common.json
/etc/jupyter/jupyter_notebook_config.json
For kicks, though I didn't much expect it to work, I also tried:
~/.ipython/profile_default/nbconfig/common.json

None have worked. I've worked around by manu

[2015-09-23 14:44] malina-kirn commented on #121
I get this error when loading an existing notebook created by someone else. I do not get it opening my own. The Drive sharing permissions allow me to edit the file, though I am not the owner of the file. The folder containing the file is shared. Reproduced in the reverse direction (the other user cannot open a file created by me, although the other user is allowed to edit the file). This is in pyt

[2015-10-09 17:57] ryukinix opened #127 "Daily Limit for Unauthenticated Use Exceeded. Continue use requires signup."
### After long edit i ever receive that message and i can't save my notebook!

![image](https://cloud.githubusercontent.com/assets/7642878/10401337/baea1416-6e94-11e5-9a96-e4a5450edfb0.png)
### Details | Comment

I using `mixed content` configuration. After that message, if I close my notebook and open again, I can save him! I use linux and I don't have a good client for sync — actually, now I usi

[2015-10-09 18:05] ryukinix commented on #127
### BTW, I can't make a local backup (download or even print) after that behavior T_T
![image](https://cloud.githubusercontent.com/assets/7642878/10401708/02dc0c00-6e97-11e5-9128-74286ae71500.png)
Comment: this is a traceback of ipython notebook local server

[2015-10-09 21:26] Carreau commented on #127
Hum that's weird. It should be authenticated. I'll try to investigate.

[2015-10-09 21:32] KesterTong commented on #127
@Carreau The main API calls are authenticated.  Maybe a few calls are not (like the one to FilePicker when we force a user to "pick" a file if it isn't authorized under drive.file scope).

[2015-10-21 18:34] jaredvacanti opened #128 "Installation Issue"
When following the readme exactly, cloning the repo and running `python -m jupyterdrive` I get the error
[code]

Has the installation procedure changed since the last release?

[2015-10-27 18:01] jdfreder opened #129 "jupyter-drive nbconfig conflict, either nbgrader or existing jupyter-drive config - not clear"
I installed nbgrader before installing jupyter-drive and I received this error message:

[code]

My config looked like this:

[code]

Maybe it's actually the existing jupyter-drive config, from an earlier failed attempt, that is causing the conflict.  If so, maybe we should try to recognize the existing content.

The **workaround** was to erase the troublesome content from my config so that my con

[2015-10-27 19:42] jdfreder commented on #127
I actually see this when I'm just sitting on the dashboard for a long time.

[2015-10-28 22:08] kaleemsagard commented on #128
I have that problem today, but did the following steps and it works fine:

- Uninstall IPython, jupyter drive and all similar modules/packages from SO, to start from zero.
- Install "jupyter": sudo pip install jupyter
- Install "terminado" (it was locking by version compat): sudo pip search terminado
- Install "functools32" (jupyter need it to use python 3.2 functions): sudo pip install functools3

[2015-10-30 14:25] jaredvacanti commented on #128
Yea, that fixed the problem. Not sure which step was the issue.

[2015-10-30 14:25] #128 closed

[2015-10-30 15:09] jaredvacanti opened #130 "Collaborative Editing"
Is there a way to use the drive features with a remote kernel so two simultaneous users can see edits made in real time while also seeing the computation done by the other user?

[2015-10-30 17:08] Carreau commented on #130
Not with jupyter drive, no we need to rewrite the notebook frontend for that.
We have a few prototypes, but they are not close to be released.

Once collaborative edittign is supported you will have annouce on IPython/Jupyter mailing list.

[2015-10-30 17:08] #130 closed

[2015-11-17 20:41] psychemedia commented on #130
Is there a roadmap somewhere giving an indicative time for when live collaborative support may be available? 3 months? 6 months? A year?

[2015-11-17 21:28] Carreau commented on #130
Likely not 3 month, You might see dev version with some feature in 6month, probably some things in a year. Right now we focus on getting notebook 4.1 out, and pushing for 2 new hires to work more on that starting January.

[2015-11-20 17:32] weilinear commented on #127
It also happens to me: sometimes have to open the same file in a new tab and do a manual line by line diff. Are there some workarounds for this? I will also try to see if I could help on this :)

[2015-12-19 19:08] BenjaminKay commented on #127
It is also happening to me. Jupyter_Drive version  Version 1.1.0. Anaconda. Python 3.4

[2015-12-25 10:57] szferi commented on #121
I got the same error and I did some investigation. The requested scope is drive.file which only per-file access to files created or opened by the jupyter-drive. So, in this case, jupyter-drive does not have access to files created by other apps. You can change the scope to drive - Full, permissive scope to access all of a user's files. At least, it solved my problem.  See: https://developers.googl

[2016-02-20 17:59] cdiazbas opened #131 "Update the README"
Please, add to the REAME file that if you write:

sudo python -m jupyterdrive --deactivate

you can deactivate jupyterdrive.

[2016-02-20 18:05] rgbkrk commented on #131
Submitted a PR for that in #132.

[2016-02-20 22:53] #131 closed

[2016-03-17 01:59] chuong commented on #125
To embed an image from your Google Drive into a notebook, add this line inside a Markdown cell:

<img src="http://drive.google.com/uc?export=view&id=SHARED_IMAGE_ID">

where SHARED_IMAGE_ID is the shared ID of the image. You have to share your image publicly and get this shared ID (quite long) from the shared link address. ﻿

[2016-04-04 20:32] whitead commented on #121
Thank you @szferi! That solved this problem for me. If anyone was having trouble with their own CLIENT_ID, this fixed it. It's not ideal, since it's more permissive than it should be but I'm not sure how else to fix this:

[code]

[2016-06-10 21:33] fperez opened #137 "TSD is deprecated, replace with Typings"
On `npm install` of a fresh clone, I get

[code]

For clicking convenience, the above issue is [here](https://github.com/DefinitelyTyped/tsd/issues/269).

[2016-06-10 21:37] fperez opened #138 "Don't install to `/usr/local/` by default"
[This code](https://github.com/jupyter/jupyter-drive/blob/master/jupyterdrive/__init__.py#L40) will by default install to `/usr/local/` instead of checking first the user-specific config directories.

[2016-06-10 21:38] Carreau commented on #138
Workaround: symlink `gdrive` in `~/.jupyter/nbextensions`.

[2016-06-27 20:41] Xiaojing commented on #21
Hi @griffinmilsap, I saw your comment that you had Jupyterhub + Jupyterdrive working well. My colleagues and I are trying to do the same thing. But after we install and activate Jupyterdrive, we dont see the "gdrive" folder in user tree. We dont see the nbconfig directory in ~/.ipython/profile_. If you could share your setup and configuration details with us, we would greatly appreciate it. Thanks

[2016-06-27 21:00] griffinmilsap commented on #21
@Xiaojing It's been a bit over a year and I can't really remember everything I had to do to get it to work.  For what its worth, I just followed the readme and the instructions in this thread and I got everything working properly.  I don't know what the status of the project is today and if any recent updates to Jupyter have broken the configuration...

[2016-06-27 21:10] Xiaojing commented on #21
Hi @griffinmilsap Thank you so much for your quick response! We followed the instruction in readme, but couldn't find some the configuration files that are supposed to be automatically created according to the instruction. Did you deploy your Jupyterhub environment using this [jupyterhub/jupyterhub Docker image](https://hub.docker.com/r/jupyterhub/jupyterhub/)? We used that in our environment.

Hi

[2017-02-10 17:15] D-marina opened #139 "Error starting cluster"
Hello,

I tried to use several engines in jupyter and I followed this steps:

($ is my prompt)
1.- $jupyter serverextension enable --py ipyparallel
2.- $jupyter nbextension install --py ipyparallel
3.- $jupyter nbextension enable --py ipyparallel
4.- $jupyter nbextension enable ipyparallel --py

then I opened a browser, I clicked in IPython Clusters's tab, selected 2 engines and I pressed start. B

[2017-02-10 17:30] KesterTong commented on #139
This seems to be an issue with IPython Clusters, not jupyter-drive issue.  Could you open an issue in https://github.com/ipython/ipyparallel?

[2017-02-10 17:52] D-marina commented on #139
Done, thank you very much.

[2017-02-10 17:52] #139 closed

[2017-02-13 22:13] matthias-johnson opened #140 "Invalid Credentials after switching networks"
If I sleep my laptop at work and go home, my open notebooks error Invalid Credentials. There is nothing at the shell that indicates what is wrong. I'm assuming it's an expired session??? If I go to the Notebook Home tab and press the home icon it will eventually reload my drive folder but running notebooks won't ever come back by just pressing save after restoring the browsability in the Home tab.

[2017-02-18 16:22] matthias-johnson commented on #140
So I did a bit of more investigation and I guess this all works as best as it can but it would be interesting to get some dev feedback on this. It is definitely a expired session issue, not sure what Google sets this as. What is interesting is it seems you need to take a few steps before you can get changes synced up again. First, upon reconnecting to the internet you must go to the Home tab and p

[2017-03-16 15:01] philipsd6 opened #141 "Constant requests for authentication"
I've got `jupyter-drive` configured in mixed mode on my Jupyter Hub setup. I've created my own Google project for this in order to use my own **CLIENT_ID**. My `~/.jupyter/nbconfig/common.json` contains:

[code]
It *kinda* works. With this setup, I'm prompted to authenticate with Google when first launched. The OAuth window pops up but disappears immediately, presumably because I've already authen

[2017-04-07 13:48] NicolaiRiis opened #142 "notebook 5.0.0 unsupported?"
Hi,

Jupyter notebook 5.0.0 was released a few days ago. I can't seem to get jupyterdrive to work with this update.

The gdrive folder shows and and shows the files from my drive, however when i choose a folder i get a 500 internal server error.

The terminal that launched the notebook shows the following:

[code]

[2017-04-07 16:46] ian-r-rose commented on #142
Hi @NicolaiRiis. I'm not sure whether `jupyter-drive` should work with Notebook 5.0 (@Carreau would have a better idea), but efforts on Google Drive integration have shifted to a plugin for the upcoming JupyterLab (https://github.com/ian-r-rose/jupyterlab_google_drive).

[2017-07-12 02:39] cloutiertyler commented on #21
@Xiaojing, did you end up having any luck with this?

[2017-07-12 02:55] ian-r-rose commented on #21
Hi @cloutiertyler , work on this project is continuing at https://github.com/jupyterlab/jupyterlab-google-drive. It is still a work in progress, but there are some instructions there for setting up your own client ID.

[2017-10-12 12:56] paulsp94 commented on #141
Hey philips, I encountered the same problem. Did you find any solution for it?

[2017-11-06 01:52] bensteers opened #143 "python -m jupyterdrive: error: unrecognized arguments: --deactivate"
It seems that `--deactivate` is not working and now I can't use jupyter without google drive.

[2017-11-06 02:01] #143 closed

[2017-11-23 20:56] philipsd6 commented on #141
I just set this up again on my WSL setup and this is still happening, even without customizing common.json with my own client_id. I don't know why. It's disheartening that this bug report hasn't been answered for 7 months.

[2017-11-23 21:06] ian-r-rose commented on #141
Hi @philipsd6, sorry to hear you are having trouble with this. I am not sure what is causing the issue that you are running into, but the integration with Google Drive provided by `jupyter-drive` is being deprecated in favor of the plugin for JupyterLab, [`jupyterlab-google-drive`](https://github.com/jupyterlab/jupyterlab-google-drive). Given our limited developer resources, we have not been able

[2017-11-24 00:04] philipsd6 commented on #141
Yes, I just heard about this, and so I installed Jupyterlab and jupyterlab-google-drive, but continue to have new and exciting problems, so I had to open up an issue there as well.

[2017-11-24 10:34] Carreau commented on #141
Try deactivating any privacy / blocking extensions, we need to set cookies w/ google and cross domain, if an extension is messing with that that could be the reason.

[2017-11-24 22:01] philipsd6 commented on #141
Yes, that *is* the problem, confirmed by disabling Privacy Badger and uBlock Origin, however, as those are installed by corporate group policy, I cannot keep them disabled for long before they are automatically re-enabled and then this fails.

[2017-11-24 22:04] Carreau commented on #141
You should be able to setup/Ask for an exception to be made in the app configuration for the pair (url-of-jupyter/google-api).

[2017-11-24 23:13] philipsd6 commented on #141
as I have Admin on my laptop, I'm more comfortable taking matters into my own hands. ;)

[2017-11-24 23:13] #141 closed

[2018-01-19 00:40] macraris-consulenza commented on #125
Hello, Thank you so much for that
<img src="http://drive.google.com/uc?export=view&id=SHARED_IMAGE_ID">

[2018-02-12 18:54] wushengzhong opened #144 "Issue for Loading Jupyter Notebook in Google Drive Colab"
I run into issue when loading jupyter notebook in Google drive colab every time I closed and open again. It just keeps displaying the message below. Could anyone know the reason why?

`Loading... Try our new GPU accelerated runtime`

[2018-02-13 11:38] takluyver commented on #144
Sorry, you'll have to ask Google about that. We don't run Colaboratory. `jupyter-drive` is a separate project which hasn't been actively developed for a couple of years.

From the FAQ:

[2018-02-13 11:38] #144 closed

[2018-06-05 20:37] ivanlen commented on #140
I am experiencing the same issue but without running jupyterdrive.
I am having a server running in my server, and after changing from one network to another I am having the Invalid Credentials error.
It's funny that even though I lunched a new version of the server I am still having this error.

[2018-08-10 13:41] charly-esb opened #146 "notebook kernel working directory"
After installing jupyterdrive, everything well fine.
But now everytime I lunch a notebook, the kernel working directory is set to the directory in which I started the jupyter notebook server.
I would like to se the working directory automatically to where the notebook.ipynb is.
As our team installed jupyterdrive to work collaboratively so we have relatives paths to where .ipynb is.

Any ideas?
Thx

[2019-01-03 05:43] ryukinix commented on #127
Closed due lack of activity (> year 1).

[2019-01-03 05:43] #127 closed

[2019-01-20 05:20] randywreed opened #147 "jupyter server no authorization message"
I'm running jupyter notebook as a server on a raspberry pi. I also run jupyter notebook in a virtualenv. I was able to run jupyterdrive by using the `--user` option. Because this is running as a server on my network I initiate jupyter using `jupyter notebook --ip=0.0.0.0 --port=8889`. But when I go to the notebook interface using my browser I do not get the authorization message. Any suggestions?

[2019-02-10 05:11] pv-912 commented on #147
I am also facing the same problem. Is anyone able to solve this issue?

[2019-07-06 21:45] davidh99720 opened #148 "This app has not been verified yet by Google in order to use Google Sign In."
Sign in with Google temporarily disabled for this app
This app has not been verified yet by Google in order to use Google Sign In.

Is this a new issue or this is something wrong with my setup?

[2019-08-08 18:43] mrdragonbear commented on #148
I also have the same issue - did you manage to find a fix for this?

[2019-08-19 05:44] turkialjrees commented on #148
I also have the same issue

[2019-11-23 17:45] ChandramouliBanerjee commented on #148
Having the same issue

[2020-03-08 04:20] cyonghui81 opened #149 "Cannot import cast_unicode_py2 when i try to run python -m Jupyterdrive - Using Python 3.7"
[code]

[2020-03-25 20:44] westurner commented on #149
Looks like https://github.com/ipython/ipython/blob/master/IPython/utils/py3compat.py no longer has a cast_unicode_py2

Reading the history for the file:
https://github.com/ipython/ipython/commits/master/IPython/utils/py3compat.py

- https://github.com/ipython/ipython/commit/9db6129411de0f306991893351bcb5d124c2f3c0 says
  "Note py3compat is deprecated and will be removed in the future"

- looks lik

[2020-03-25 20:47] westurner commented on #148
Are these the docs for google OAuth app verification?

- "Unverified apps"
  https://support.google.com/cloud/answer/7454865?hl=en
- "Better protection against Man in the Middle phishing attacks"
  https://security.googleblog.com/2019/04/better-protection-against-man-in-middle.html

[2020-03-25 20:49] westurner commented on #138
Should this app have permissions to write to ``/usr/local``?

[2020-03-25 20:51] westurner commented on #148
@jakevdp is jupyter-drive a Colab-friendly project that should be able to store things in e.g. gdrive?

[2020-03-25 21:17] willingc commented on #149
@westurner I'm not sure what support we have for this project anymore. @Carreau @ian-r-rose may have a better idea.

If it is still active, I agree that we should drop Python 2.

[2020-03-26 01:48] Carreau commented on #149
Thanks wes for looking into the history.

I don't believe this project is active anymore as google remove the ability to use RT API.

If someone send a pull-request that fix the code, I think we can merge it, but we likely won't do any more releases.

To avoid user opening issues we should either:
1) Archive this repository, and/or
2) update the readme and issues templates for user to be aware.

T

[2020-03-26 02:22] westurner commented on #149
https://github.com/jupyterlab/jupyterlab-google-drive

[2020-03-26 02:24] westurner commented on #149
IIUC, when Google discontinued the Realtime API, that also nixed the collaborative features in Google Colab.
- https://developers.google.com/realtime/deprecation
- https://firebase.google.com/docs/database

[2020-03-26 15:22] Carreau commented on #149
Thanks Wes !

Do you want to send a pull request that update the readme to add these informations ?

[2020-03-27 18:19] #149 closed

[2020-03-28 06:05] kngoledge commented on #125
God bless you

[2022-02-06 03:25] Shadowwalker10 opened #151 "Bad config encountered during initialization: Unrecognized flag: '--profile'"
Issue related to:
ipython notebook --profile <profilename>
Please help with the issue and also when I try to login into google drive with these errors, the access to the drive is blocked. Cannot complete the oauth.